./JishoApp/JishoApp/.gradle/4.1/taskHistory/
./JishoApp/JishoApp/.gradle/4.1/fileHashes/
.JishoApp/JishoApp/.idea/workspace.xml
./versions 3.0+/jisho/jishokeystore.jks
./versions 3.0+/jisho/android/key.properties
./versions 3.0+/jisho/.idea/workspace.xml
